<!-- Header
================================================== -->
<header id="home">

  <div class="row banner">
    <div class="banner-text">
      <h1 class="responsive-headline">I'm Junichi Ito.</h1>
      <h3><span>Programmer, blogger, musician.</span></h3>
      <hr />
      <ul class="social">
        <%= render 'home/social_links' %>
      </ul>
    </div>
  </div>

</header> <!-- Header End -->


<!-- About Section
================================================== -->
<section id="about">

  <div class="row">

    <div class="three columns profile-pic-container">

      <%= image_tag gravatar_url, alt: 'Junichi Ito', class: 'profile-pic' %>

    </div>

    <div class="nine columns main-col">

      <h2>About Junichi Ito</h2>

      <p>
        Ruby programmer at <%= link_to 'SonicGarden, Inc.', 'https://www.sonicgarden.jp/' %>
        <br>
        Lives in <%= link_to 'Nishiwaki, Hyogo, Japan', 'https://ja.wikipedia.org/wiki/%E8%A5%BF%E8%84%87%E5%B8%82' %>.
      </p>

      <h2>Works</h2>

      <p>
        Book: <%= link_to 'Introduction to Ruby programming for future professionals', 'http://gihyo.jp/book/2017/978-4-7741-9397-7' %>
        <br>
        Translation: <%= link_to 'Everyday Rails Testing with RSpec', 'https://leanpub.com/everydayrailsrspec-jp' %>
      </p>

    </div> <!-- end .main-col -->

  </div>

</section> <!-- About Section End-->

<!-- footer
================================================== -->
<footer>

  <div class="row">

    <div class="twelve columns">

      <ul class="social-links">
        <%= render 'home/social_links' %>
      </ul>

      <ul class="copyright">
        <li>&copy; Copyright 2017 Junichi Ito</li>
      </ul>

    </div>

  </div>

</footer> <!-- Footer End-->

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
